[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py"}
pyahocorasick = "*"
pymongo = "*"

[dev-packages]
prospector = {version = "*", extras = ["with_vulture"]}
mockito = "*"

[requires]
python_version = "3.7.3"
